/**
 * Breakpoint Configuration
 */

// Global Breakpoints

// TODO: Adjust the breakpoints as needed.
$breakpointXXS: 320px;
$breakpointXS: 768px;
$breakpointS: 1024px;
$breakpointM: 1280px;
$breakpointL: 1440px;
$breakpointXL: 1728px;
$breakpointXXL: 1920px;

$breakpointNavi: $breakpointM;

@mixin above($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Mixin - breakpointXXS Breakpoint
// Allows easier @include breakpointXXS {} syntax
@mixin breakpointXXS {
  @include above($breakpointXXS) {
    @content;
  }
}

// Mixin - breakpointXS Breakpoint
// Allows easier @include breakpointXS {} syntax
@mixin breakpointXS {
  @include above($breakpointXS) {
    @content;
  }
}

// Mixin - breakpointS Breakpoint
// Allows easier @include breakpointS {} syntax
@mixin breakpointS {
  @include above($breakpointS) {
    @content;
  }
}

// Mixin - breakpointM Breakpoint
// Allows easier @include breakpointM {} syntax
@mixin breakpointM {
  @include above($breakpointM) {
    @content;
  }
}

// Mixin - breakpointL Breakpoint
// Allows easier @include breakpointL {} syntax
@mixin breakpointL {
  @include above($breakpointL) {
    @content;
  }
}

// Mixin - breakpointXL Breakpoint
// Allows easier @include breakpointXL {} syntax
@mixin breakpointXL {
  @include above($breakpointXL) {
    @content;
  }
}

// Mixin - max-width Breakpoint
// Allows easier @include maxWidth {} syntax
@mixin maxWidth {
  @include above($layoutMaxWidth) {
    @content;
  }
}

/// Mixin - Navigation breakpoint
/// Allows easier @include breakpointNavi {} syntax
@mixin breakpointNavi {
  @include above($breakpointNavi) {
    @content;
  }
}
